.footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #000000;
    overflow: hidden;
    flex: 1 0 0;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 0;
}
.copyright {
    gap: 20px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: min-content;
    justify-content: space-between;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
@media (max-width: 651px) {
    .copyright {
        justify-content: center;
    }
    .footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}
.copyrightText {
    width: auto; /* 250px */
    height: auto; /* 24px */
    white-space: pre;
    overflow: visible;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-family: "Schibsted Grotesk", "Schibsted Grotesk Placeholder", sans-serif;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
}

.social {
    display: flex;
    overflow: hidden;
    position: relative;
    gap: 20px;
}