.cardGrid {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 50px 20px;
}

.container {
    background-color: #D992C8;
}

.disclaimer {
    font-weight: 700;
    font-style: normal;
    font-family: "Inter", "Inter Placeholder", sans-serif;
    color: #333333;
    font-size: 41px;
    letter-spacing: -2.6px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding: 60px 10px;
    max-width: 1200px;
}
@media screen and (max-width: 700px) {
    .disclaimer {
        font-size: 30px;
        padding: 30px 10px;
    }
}

.disclaimerContainer {
    background-color: rgb(255, 220, 199);
}

.links {
    text-decoration: none;
    color: #b77676;
}