.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
}
.headerText {
    margin-right: 50px;
    color: #fff;
    font-size: 25px;
}
.table {
    align-items: center;
}
.BgGreen {
    background-color: #4CAF50;
}